.title {
    text-align: center;
    color: transparent;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),0 0 #f03f36;
}

.red-title {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5),0 0 #dc1a56;
}

.green-title {
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),0 0 #32927f;
}

@media (prefers-color-scheme: dark) {
    .title {
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4),0 0 #f03f36;
    }
    
    .red-title {
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4),0 0 #dc1a56;
    }
    
    .green-title {
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.35),0 0 #32927f;
    }
  }